<div class="jumbo">
    <div class="right tomster"></div>
    <h2>About Dog-Friendly Places</h2>
    <p>
        The Dog-Friendly Places site is a project created for dog-owners to explore 
        dog-friendly places in cities in Nova Scotia.
    </p>
    {{#link-to 'contact' class="button"}}
    Contact Us
    {{/link-to}}
</div>