<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Contact Us</h2>
    <p>
       Well, don't. Just contact the place you want to go to if you have further questions <br> 
       After all we are just listing things.
    </p>
    <p>
        Some tiny fidgety developer 
        <address>
            1212 Check check<br>
            Testington, NS
        </address>
        <a href="mailto:nothing@mail.com">notanemail@gmail.com</a>
    </p>
</div>